flask==2.3.2
google==3.0.0
flask-googlemaps==0.4.1
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
google-api-python-client==2.86.0
markdown-it-py==2.2.0
mdit-py-plugins==0.3.5
python-dotenv==1.0.0
sh==2.0.3
GitPython==3.1.31
flask_httpauth==4.8.0