/* Apply Roboto font to the entire document */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Set a default margin around the content */
  .container {
    margin: 2rem auto;
    max-width: 1200px;
  }
  
  /* Style the h2 elements */
h1 {
    font-size: 2.4rem; /* Adjust the font size for H1 elements */
    font-weight: 500;
    color: #2ba4a0;
}

h2 {
    font-size: 1.8rem; /* Adjust the font size for H2 elements */
    font-weight: 500;
    color: #2ba4a0;
}

h3 {
    font-size: 1.4rem; /* Adjust the font size for H3 elements */
    font-weight: 500;
    color: #2ba4a0;
}

  
  /* Set the primary color */
  .primary-color {
    background-color: #2ba4a0;
  }
  
  nav {
    background-color: #2ba4a0;
  }

  .brand-logo img {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}


    /* Style for folder headers */
    ul.collapsible .collapsible-header {
        background-color: #ffffff;/* Lighter variation of #2ba4a0 */
        color: #333;
        font-weight: bold;
    }

    /* Style for folder headers when active */
    ul.collapsible .collapsible-header.active {
        background-color: #ffffff; /* Slightly darker variation of the lighter color */
        color: #333;
    }

    /* Style for nested folder headers */
    ul.collapsible .collapsible-body ul.collapsible > li > .collapsible-header {
        background-color: #ffffff; /* Very light variation of #2ba4a0 */
        color: #333;
        font-weight: normal;
    }

    /* Style for nested folder headers when active */
    ul.collapsible .collapsible-body ul.collapsible > li > .collapsible-header.active {
        background-color: #ffffff; /* Slightly darker variation of the very light color */
        color: #333;
    }

    /* Style for link elements */
    ul.collapsible li a {
        background-color: #ffffff; /* Very light gray for links */
        color: #333;
        text-decoration: none;
        display: block;
        padding: 1em;
    }

    /* Style for link elements when hovered */
    ul.collapsible li a:hover {
        background-color: #e0e0e0; /* Slightly darker gray for hovered links */
        color: #333;
    }
    .tiny.material-icons {
        color: #2ba4a0;
    }

    .breadcrumb:last-child {
        font-weight: 500;
   }
    .breadcrumb.dark {
        color: rgba(0, 0, 0, 0.5);
        line-height: 64px;
   }
    .breadcrumb.dark:before {
        color: rgba(0, 0, 0, 0.2);
        vertical-align: middle;
   }
    .breadcrumb.dark:last-child {
        color: rgba(0, 0, 0, 1);
   }
    .breadcrumb.dark i {
        line-height: 64px;
   }
   .breadcrumbs-nav{
        background-color: transparent;
        color: black;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: 64px;
        line-height: 64px;
   }
   .breadcrumb, a.breadcrumb{
        color: black;
        font-family: 'Roboto', sans-serif;
   }
   .breadcrumb:before {
        color: black;
    }
    .breadcrumb:last-child {
        color: #000000;
    }