/* Apply Roboto font to the entire document */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Set a default margin around the content */
  .container {
    margin: 2rem auto;
    max-width: 1200px;
  }
  
  /* Style the h2 elements */
  h1 {
    font-size: 2rem; /* Adjust the font size for H1 elements */
    font-weight: 500;
    color: #2ba4a0;
}

h2 {
    font-size: 1.8rem; /* Adjust the font size for H2 elements */
    font-weight: 500;
    color: #2ba4a0;
}

h3 {
    font-size: 1.4rem; /* Adjust the font size for H3 elements */
    font-weight: 500;
    color: #2ba4a0;
}

  
  /* Set the primary color */
  .primary-color {
    background-color: #2ba4a0;
  }
  
  nav {
    background-color: #2ba4a0;
  }

  .brand-logo img {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}


    /* Style for folder headers */
    ul.collapsible .collapsible-header {
        background-color: #e8f8f8;/* Lighter variation of #2ba4a0 */
        color: #333;
        font-weight: bold;
    }

    /* Style for folder headers when active */
    ul.collapsible .collapsible-header.active {
        background-color: #2ba4a0; /* Slightly darker variation of the lighter color */
        color: #333;
    }

    /* Style for nested folder headers */
    ul.collapsible .collapsible-body ul.collapsible > li > .collapsible-header {
        background-color: #e8f8f8; /* Very light variation of #2ba4a0 */
        color: #333;
        font-weight: normal;
    }

    /* Style for nested folder headers when active */
    ul.collapsible .collapsible-body ul.collapsible > li > .collapsible-header.active {
        background-color: #c8f0f0; /* Slightly darker variation of the very light color */
        color: #333;
    }

    /* Style for link elements */
    ul.collapsible li a {
        background-color: #f5f5f5; /* Very light gray for links */
        color: #333;
        text-decoration: none;
        display: block;
        padding: 1em;
    }

    /* Style for link elements when hovered */
    ul.collapsible li a:hover {
        background-color: #e0e0e0; /* Slightly darker gray for hovered links */
        color: #333;
    }
    .tiny.material-icons {
        color: #2ba4a0;
    }