<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vizzuality Playbook</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/materialize.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scroller.js') }}"></script>
    <script src="{{ url_for('static', filename='js/collapsible_lists.js') }}"></script>

  </head>
  <body>
    <div class="container">
      <nav>
        <div class="nav-wrapper">
          <a href="{{ url_for('routes.index') }}" class="brand-logo">
            <img
              src="{{ url_for('static', filename='images/logo.svg') }}"
              alt="Vizzuality"
            />
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ url_for('routes.index') }}">Home</a></li>
            {% if 'email' not in session %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% else %}
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            {% for breadcrumb in breadcrumbs %} {% if loop.last %}
            <a href="#" class="breadcrumb">{{ breadcrumb.name }}</a>
            {% else %}
            <a href="/?folder={{ breadcrumb.url.replace('-', ' ')|urlencode }}" class="breadcrumb">{{ breadcrumb.name }}</a>
            {% endif %} {% endfor %}
          </div>
        </div>
      </nav>

      <main>{% block content %} {% endblock %}</main>
    </div>
    <script>
 


    </script>
  </body>
</html>
