<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vizzuality Playbook</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/materialize.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="nav-wrapper">
            <a href="{{ url_for('index') }}" class="brand-logo">
                <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Your Logo" />
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                {% if 'email' not in session %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% else %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    

      <main>{% block content %} {% endblock %}</main>
    </div>
    <script>
      function removeNonAlphanumeric(str) {
        return str.replace(/[^a-zA-Z0-9]/g, "");
      }

      function scrollToHeading(hash) {
        const anchorText = removeNonAlphanumeric(
          decodeURIComponent(hash.substring(1)).toLowerCase()
        );
        const headings = document.querySelectorAll("h1, h2, h3, h4, h5, h6");
        const targetHeading = Array.from(headings).find(
          (heading) =>
            removeNonAlphanumeric(heading.textContent.toLowerCase()) ===
            anchorText
        );

        if (targetHeading) {
          targetHeading.scrollIntoView({
            behavior: "smooth",
            block: "start",
            inline: "nearest",
          });
        }
      }

      function init() {
        console.log("DOMContentLoaded event fired");

        if (window.location.hash) {
          const hash = window.location.hash;
          console.log("Hash:", hash);
          scrollToHeading(hash);
        }
      }

      if (document.readyState === "loading") {
        document.addEventListener("DOMContentLoaded", init);
      } else {
        init();
      }

      document.addEventListener("click", function (event) {
        const target = event.target.closest('a[href^="#"]');

        if (target) {
          event.preventDefault();
          const hash = target.hash;

          if (hash) {
            scrollToHeading(hash);
            window.history.pushState(null, "", hash); // Update the URL to include the hash
          }
        }
      });
      
      function initCollapsibles() {
  console.log("Initializing collapsibles");
  var elems = document.querySelectorAll(".collapsible");
  var instances = M.Collapsible.init(elems);
}

if (document.readyState === "loading") {
  document.addEventListener("DOMContentLoaded", function() {
    init();
    initCollapsibles();
  });
} else {
  init();
  initCollapsibles();
}


    </script>
  </body>
</html>
